<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="left_part">
        <p>Copyright 2023 — Developed by <a href="https://michel929.de" target="_blank">michel929</a>
        </p>
      </div>
      <div class="right_part">
        <ul>
	<li><a class="creative_link" href="https://status.sensivity.team">Status</a></li>
          <li><a class="creative_link" href="/impressum.php">Impressum</a></li>
          <li><a class="creative_link" href="/datenschutz.php">Datenschutzerklärung</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- !Footer -->

</div>
<!-- !Content -->

<!-- Totop -->
<a class="metaportal_fn_totop" href="#">
		<span class="totop_inner">
			<span class="icon">
				<img alt="down" class="fn__svg" src="/assets/svg/down.svg">
			</span>
			<span class="text">Scroll To Top</span>
		</span>
</a>
<!-- /Totop -->

<!-- Search Button -->
<a class="metaportal_fn_search" href="#">
		<span class="icon">
			<img alt="loup" class="fn__svg" src="/assets/svg/loupe.svg">
		</span>
</a>
<!-- !Search Button -->


</div>
<!-- !Main -->

<!-- Scripts -->
<script src="/assets/js/jquery.js?ver=6.0" type="text/javascript"></script>
<script src="/assets/js/plugins.js?ver=6.0" type="text/javascript"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="/assets/js/ie8.js?ver=6.0"></script> <![endif]-->
<script src="/assets/js/init.js?ver=6.0" type="text/javascript"></script>
<!-- !Scripts -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#100e29",
      "text": "#81849a"
    },
     },
  "showLink": false,
  "theme": "classic"
});
</script>
