<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="left_part">
        <p>Copyright 2022 — Developed by <a href="https://michel929.de" target="_blank">michel929</a>
        </p>
      </div>
      <div class="right_part">
        <ul>
          <li><a class="creative_link" href="/impressum.php">Impressum</a></li>
          <li><a class="creative_link" href="/datenschutz.php">Datenschutzerklärung</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- !Footer -->

</div>
<!-- !Content -->


<!-- Social -->
<div id="social">
  <div class="social">
    <h4 class="title">Follow Us:</h4>
    <ul>
      <li><a href="https://www.facebook.com/" target="_blank">Fb.</a></li>
      <li><a href="https://www.twitter.com/" target="_blank">Tw.</a></li>
      <li><a href="https://www.instagram.com/" target="_blank">In.</a></li>
      <li><a href="https://www.linkedin.com/" target="_blank">Ln.</a></li>
    </ul>
  </div>
</div>
<!-- !Social -->


<!-- Totop -->
<a class="metaportal_fn_totop" href="#">
		<span class="totop_inner">
			<span class="icon">
				<img alt="" class="fn__svg" src="/assets/svg/down.svg">
			</span>
			<span class="text">Scroll To Top</span>
		</span>
</a>
<!-- /Totop -->

<!-- Search Button -->
<a class="metaportal_fn_search" href="#">
		<span class="icon">
			<img alt="" class="fn__svg" src="/assets/svg/loupe.svg">
		</span>
</a>
<!-- !Search Button -->


</div>
<!-- !Main -->

<!-- Scripts -->
<script src="/assets/js/jquery.js?ver=6.0" type="text/javascript"></script>
<script src="/assets/js/plugins.js?ver=6.0" type="text/javascript"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="/assets/js/ie8.js?ver=6.0"></script> <![endif]-->
<script src="/assets/js/init.js?ver=6.0" type="text/javascript"></script>
<!-- !Scripts -->